@font-face {
  font-family: "iconfont"; /* Project id 4629291 */
  src: url('iconfont.woff2?t=1721706234772') format('woff2'),
       url('iconfont.woff?t=1721706234772') format('woff'),
       url('iconfont.ttf?t=1721706234772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
  content: "\e77d";
}

